<body>
<h1><%= @task.title %> </h1>

  <div class = 'welcomemenu'>
  <p><%= @task.description %> </p>

  <div class ='edit'><a href='/tasks/<%= @task.id %>/edit'> Edit</a></div>
  </div>
  <footer>
    <h3><a href='/tasks'>Task Index</a></h3>
    <h3><a href='/'> Home</a></h3>
    <p>Contact Marla at: marlaa.schulz@gmail.com</p>
    <p>LinkedIn: <a href='www.linkedin.com/in/marla-a-schulz'>linkedin.com/in/marla-a-schulz</a></p>
    <p>GitHub: <a href ='https://github.com/marlitas'>github.com/marlitas</a></p>
  </footer>
</body>
