<body>
  <section>
    <h1 class = 'heading' > Welcome to Task Manager </h1>
    <div class = 'welcomemenu'>
      <ul>
        <li><a href="/tasks">Task Index</a></li>
        <li><a href="/tasks/new">New Task</a></li>
        <li><a href="/about">About Task Manager</a></li>
      </ul>
    </div>
  </section>
  <footer>
    <p>Contact Marla at: marlaa.schulz@gmail.com</p>
    <p>LinkedIn: <a href='www.linkedin.com/in/marla-a-schulz'>linkedin.com/in/marla-a-schulz</a></p>
    <p>GitHub: <a href ='https://github.com/marlitas'>github.com/marlitas</a></p>
  </footer>
</body>
